VITE_SUPABASE_PROJECT_ID=""
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL=""

VITE_STRIPE_PAYMENT_LINK_STUDENT=""
VITE_STRIPE_PAYMENT_LINK_SPEAKER=""
VITE_STRIPE_PAYMENT_LINK_POSTER=""
VITE_STRIPE_PAYMENT_LINK_DELEGATE=""

VITE_PAYPAL_PAYMENT_LINK_STUDENT=""
VITE_PAYPAL_PAYMENT_LINK_SPEAKER=""
VITE_PAYPAL_PAYMENT_LINK_POSTER=""
VITE_PAYPAL_PAYMENT_LINK_DELEGATE=""
